@font-face {
    font-family: "Decalotype-Black";
    src: url('./font/Decalotype-104/TTF/Decalotype-Black.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Decalotype-Black";
    font-weight: 200;
}


body svg .react-fine-uploader-gallery-upload-failed-icon{
    fill: green;
}

body td, tr, a:hover{
    cursor: pointer;
    text-decoration: none;
}

/*Кнопки File list, bookmarks etc.*/
.buttons li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin: 10px;
}

.root{
    margin: 20px auto;
}

.table__files tr:hover{
    background-color: #31B0D5;
    color : white;
    transition: all ease-out .35s;
}

.table__bookmarks a{
    text-decoration: none;
}

.table__bookmarks tr:hover{
    background-color: #EC971F;
    transition: all ease-out .35s;
}

.bookmark__item{
    margin-left: 10px;
}

.upload-from-PC, .upload-from-FB{
    text-align: center;
}

.uploads__PC__FB{
    margin-bottom:30px;
}

.fine-uploader-dropzone-container{
    margin-bottom: 30px;
}

.well{
    text-align: center;
}

.well a,button{
    margin-bottom:10px;
}

#btn_delete, #drp_dwn_btn{
    margin-bottom:10px;
}

.image-item{
    margin-bottom: 25px;
}

.current__city{
    width: 15%;
    height: 15%;
    float: right;
}

.search__city{
    width: 85%;
    float: left;
}

main{
    position: relative;
}

main > div {
    width: 85%;
}

.item__city{
    position: relative;
}

.info__city{
    float: left;
}

.item__city .btn-danger{
    margin-top: 20px;
}

.item__city {
    margin-bottom: 35px;
    z-index: -100000000;
}

.variants{
    z-index: 100000;
}

.active{
    background-color: #2b81af;
}